@keyframes change {
  0% {
    background-image: url(/assets/images/hero-carousel/food-1-res.jpg);
    background-position: center;
  }
  20% {
    background-image: url(/assets/images/hero-carousel/food-4-res.jpg);
    background-position: center;
  }
  40% {
    background-image: url(/assets/images/hero-carousel/food-3-res.jpg);
    background-position: center;
  }
  60% {
    background-image: url(/assets/images/hero-carousel/food-2-res.jpg);
    background-position: center;
  }
  80% {
    background-image: url(/assets/images/hero-carousel/img-2-res.jpg);
    background-position: center;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
  }

  75% {
    transform: translate3d(0, 0, 0);
    opacity: 0.75;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -5rem, 0);
  }

  75% {
    transform: translate3d(0, 0, 0);
    opacity: 0.4;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
