$color-primary: #a08c5b;
$color-primary-light: #cbb682;
$color-primary-dark: #785f37;

$color-primm-2: #b8874a;
$color-primm: #fdf5a6;

$color-blackish: #191919;
$color-blackish-light: #181510;
// $color-blackish-light: #2f2c28;
