//***************** COLORS *****************//

$color-primary: #a08c5b;
$color-primary-light: #cbb682;
$color-primary-dark: #785f37;

$color-primm-2: #b8874a;
$color-primm: #fdf5a6;

$color-blackish: #191919;
$color-blackish-light: #181510;

//***************** FONT *****************//

$default-font-size: 1.6rem;

//***************** WIDTH *****************//

$default-max-width: 102.4rem;

//***************** Depths *****************//

$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
