<footer class="footer-section">
  <div class="footer-wrapper">
    <div class="footer-section-div">
      <h3>Opening hours</h3>
      <div>
        <div>Tues-Sat / 12-10pm</div>
        <div>Sun-Mon / Closed</div>
      </div>
    </div>
    <div class="footer-section-div">
      <h3>Social media</h3>
      <div class="footer-section-div-bottom-part">
        <div>
          <a href="https://www.instagram.com/" target="_blank">Instagram</a>
        </div>
        <div>
          <a href="https://www.facebook.com/" target="_blank">Facebook</a>
        </div>
        <div>
          <a href="https://www.tripadvisor.com/" target="_blank">Tripadvisor</a>
        </div>
      </div>
    </div>
    <div class="footer-section-div">
      <h3>Restaurant</h3>
      <div class="footer-section-div-bottom-part">
        <div class="cursor-pointer" (click)="toHome()">Home</div>
        <div class="cursor-pointer">Book a table</div>
        <div class="cursor-pointer">Giftcard</div>
      </div>
    </div>
    <div class="footer-section-div">
      <h3 id="contact">Contact</h3>
      <div class="footer-section-div-bottom-part">
        <div>+36-858-618-2463-24</div>
        <div>
          <a href="mailto:info@kitch'nboyz.com">info@kitch'nboyz.com</a>
        </div>
        <div>Kaffeskjær 0287 Oslo, Norway</div>
      </div>
    </div>
  </div>
</footer>
