<footer class="footer-section">
  <div class="footer-wrapper">
    <div class="footer-section-div">
      <h3>Opening hours</h3>
      <div class="flex-column-with-1rem-gap">
        <div>Tues-Sat / 12-9pm</div>
        <div>Sun-Mon / Closed</div>
      </div>
    </div>
    <div class="footer-section-div">
      <h3>Social media</h3>
      <div class="flex-column-with-1rem-gap">
        <div><a href="https://www.instagram.com/">Instagram</a></div>
        <div><a href="https://www.facebook.com/">Facebook</a></div>
        <div><a href="https://www.tripadvisor.com/">Tripadvisor</a></div>
      </div>
    </div>
    <div class="footer-section-div">
      <h3>Restaurant</h3>
      <div class="flex-column-with-1rem-gap">
        <div class="cursor-pointer" (click)="toHome()"><a href="">Home</a></div>
        <div class="cursor-pointer"><a href=""> Book a table </a></div>
        <div class="cursor-pointer"><a href=""> Giftcard</a></div>
      </div>
    </div>
    <div class="footer-section-div">
      <h3 id="contact">Contact</h3>
      <div class="flex-column-with-1rem-gap">
        <div>+36-858-618-2463-24</div>
        <div>
          <a href="mailto:info@kitch'nboyz.com">info@kitch'nboyz.com</a>
        </div>
        <div>Kaffeskjær 0287 Oslo, Norway</div>
      </div>
    </div>
  </div>
</footer>
