@import "../helpers/variables";
@import "../helpers/animations";

.hero-carousel-section {
  @include default-section;
  justify-content: space-between;
  padding: 15rem 10rem;
  position: relative;
  height: 80rem;

  &::before {
    content: "";
    background-image: url("/assets/images/hero-carousel/food-1-res.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    animation: change 30s infinite ease-in-out;
  }

  .quotes {
    z-index: $z-index-1;
    font-size: 3rem;
    font-weight: 700;
    padding: 0 5rem;
    text-align: center;

    .quote {
      animation: moveInRight 1s ease-out;
    }

    .quote-author {
      margin-top: 1rem;
      font-size: 2rem;
      font-style: italic;
    }
  }
}
