.history-section {
  text-align: center;

  &-photo {
    max-width: 50%;
  }

  & h2 {
    @include golden-border;
    text-transform: uppercase;
  }

  .history-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 20rem;
  }

  .history-with-image-box {
    @include default-section;
    justify-content: space-between;
    margin: 20rem auto 0 auto;
    max-width: 140rem;
    gap: 20rem;

    .history-text {
      font-size: 2rem;
      line-height: 3rem;
      color: $color-primary-light;
      text-align: left;
      opacity: 0;
    }
  }

  .history-video-container {
    width: 100vw;
    margin-top: 20rem;
    margin-left: -20rem;

    .history-video {
      object-fit: contain;
      overflow-clip-margin: content-box;
      overflow: clip;
      height: auto;
      width: 100%;
    }
  }

  img {
    opacity: 0;
  }

  .in-view {
    animation: fadeUpImg 1.6s ease-in forwards;
  }

  .in-view2 {
    animation: fadeUpText 1.6s ease-in forwards;
  }
}
