.history-section {
  text-align: center;

  &-photo {
    max-width: 50%;
  }

  & h2 {
    @include golden-border;
    text-transform: uppercase;
  }

  .history-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 0 20rem 20rem 20rem;

    .history-with-image-box {
      @include default-section;
      justify-content: space-between;
      align-items: center;
      margin: 10rem auto 0 auto;
      max-width: 140rem;
      gap: 10rem;

      @include respond(tablet) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
        font-size: 3rem;
      }

      img {
        opacity: 0;

        @include respond(tablet) {
          max-width: 80%;
        }
      }

      .history-text {
        font-size: 2rem;
        line-height: 3rem;
        color: $color-primary-light;
        text-align: left;
        opacity: 0;

        @include respond(tablet) {
          font-size: 90%;
          text-align: center;
          max-width: 90%;
          order: 1;
        }
      }
    }

    .history-video-container {
      width: 100vw;
      position: relative;
      left: calc(-50vw + 50%);

      .history-video {
        object-fit: contain;
        max-width: 100%;
        height: auto;
        opacity: 0;
      }
      @include respond(tablet) {
        display: none;
      }
    }

    @include respond(smaller-monitor) {
      padding: 0 10rem 10rem 10rem;
    }
  }
}
