.navbar-section {
  .list-wrapper {
    @include golden-border;
    & ul {
      max-width: $default-max-width;
      @include default-section;
      align-items: center;
      justify-content: space-between;
      gap: 5rem;

      & > * {
        @include gradient-text;
      }

      & li {
        list-style: none;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        cursor: pointer;
        @include golden-underline-hover-effect;
      }

      & h1 {
        font-size: 4rem;
        text-align: center;
      }
    }

    @include respond(tablet) {
      display: none;
    }
  }

  .list-wrapper-mobile {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: $z-index-5;
    color: $color-primary;
    font-size: 10rem;
    height: 100vh;
    text-transform: uppercase;

    & ul {
      animation: fadeUp 1s ease-in-out;
      height: 100vh;
      width: 100vw;
      background-color: black;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      & > * {
        @include gradient-text;
      }

      & li {
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        cursor: pointer;
        max-width: fit-content;
        @include golden-underline-hover-effect;
      }
    }

    @include respond(navbar) {
      display: none;
    }
  }
}

.hamburger-menu-button {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: $z-index-5;
  &-icon {
    font-size: 7rem;
    color: $color-primary;
    cursor: pointer;
  }

  @include respond(navbar) {
    display: none;
  }
}
