.navbar-section {
  margin-top: 2rem;

  .list-wrapper {
    @include golden-border;
    & ul {
      max-width: $default-max-width;
      @include default-section;
      align-items: center;
      justify-content: space-between;
      gap: 5rem;

      & > * {
        background-image: linear-gradient(
          to right,
          $color-primary-light,
          $color-primary-dark
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      & li {
        list-style: none;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        cursor: pointer;

        &:after {
          display: block;
          content: "";
          border-bottom: solid 0.2rem $color-primary;
          transform: scaleX(0);
          transition: transform 350ms ease-in-out;
        }

        &:hover:after {
          transform: scaleX(1);
        }

        &.fromRight:after {
          transform-origin: 100% 50%;
        }

        &.fromLeft:after {
          transform-origin: 0% 50%;
        }
      }

      & h1 {
        font-size: 4rem;
        text-align: center;
      }
    }
  }
}

.menu-open {
  color: aqua;
}
