<section id="home" class="navbar-section">
  <div class="list-wrapper">
    <ul class="text-centered" [class.menu-open]="menuOpen">
      <li routerLink="">home</li>
      <li routerLink="/gallery">gallery</li>
      <li routerLink="/menu">menu</li>
      <h1 *ngIf="menuOpen">
        Kitch'N <br />
        Boyz
      </h1>
      <li (click)="toEvents()" routerLink="">events</li>
      <li routerLink="/staff">staff</li>
      <li (click)="toContact()" routerLink="">contact</li>
    </ul>
  </div>
</section>
