<section class="history-section">
  <h2>Story behind the Chef</h2>
  <div class="history-wrapper">
    <div class="history-wrapper-left">
      <p>
        Mikael Andersson was born and raised in Norway, surrounded by the rich
        and varied flavors of the country's seafood and produce. From a young
        age, Mikael showed a talent for cooking, and he pursued his passion at
        culinary school, where he honed his skills and developed a love for
        traditional Nordic cuisine.
      </p>
      <p>
        After working in several top restaurants in Norway and Europe, Mikael
        determined to create a restaurant that showcased the best of Norwegian
        ingredients and flavors, while also incorporating his own contemporary
        ideas and techniques.
      </p>
      <p>
        In the early 2010s, Mikael opened his restaurant in Oslo, called
        "Kitch'n Boyz". The menu was built around the freshest seafood and
        produce, and Mikael was committed to sourcing ingredients from local
        fishermen and farmers.
      </p>
      <p>
        Today, Kitch'n Boyz is considered one of the premier dining destinations
        in Norway, and Mikael is widely regarded as one of the leading lights of
        the Norwegian culinary scene.
      </p>
    </div>

    <div class="history-wrapper-right">
      <div class="composition">
        <img
          src="/assets/images/mikael/photo1.jpg"
          alt=""
          class="composition-photo photo-1"
        />
        <img
          src="/assets/images/mikael/photo2-2.jpg"
          alt=""
          class="composition-photo photo-2"
        />
        <img
          src="/assets/images/mikael/photo3.jpg"
          alt=""
          class="composition-photo photo-3"
        />
      </div>
    </div>
  </div>
</section>
