*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

@import "./base/base-dir";
@import "./helpers/helper-dir";
@import "./modules/modules-dir";
@import "./pages/pages-dir";
