<section class="history-section">
  <h2>Story behind the Chef</h2>
  <div class="history-wrapper">
    <div class="history-with-image-box">
      <p class="history-text" id="text1" #text>
        {{ historyArray[0].text }}
      </p>
      <img
        #img
        src="{{ historyArray[0].imageUrl }}"
        alt=""
        class="history-section-photo photo-1"
        id="img1"
      />
    </div>
    <div class="history-with-image-box">
      <img
        #img
        src="{{ historyArray[1].imageUrl }}"
        alt=""
        class="history-section-photo photo-2"
        id="img2"
      />
      <p class="history-text" id="text2" #text>
        {{ historyArray[1].text }}
      </p>
    </div>
    <div class="history-video-container">
      <video
        autoplay
        loop
        muted
        plays-inline
        class="history-video"
        #video
        id="video"
      >
        <source src="assets/videos/prawns-video.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="history-with-image-box">
      <p class="history-text" id="text3" #text>
        {{ historyArray[2].text }}
      </p>
      <img
        #img
        src="{{ historyArray[2].imageUrl }}"
        alt=""
        class="history-section-photo photo-3"
        id="img3"
      />
    </div>

    <div class="history-with-image-box">
      <img
        #img
        src="{{ historyArray[3].imageUrl }}"
        alt=""
        class="history-section-photo photo-1"
        id="img4"
      />
      <p class="history-text" id="text4" #text>
        {{ historyArray[3].text }}
      </p>
    </div>
  </div>
</section>
