*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tablet-landscape) {
    font-size: 50%;
  }

  @include respond(tablet) {
    font-size: 40%; //1 rem = 8 px , 8/16
  }

  @include respond(phone) {
    font-size: 30%; //1 rem = 8 px , 8/16
  }
}

body {
  box-sizing: border-box;
}

.main-wrapper {
  animation: fadeUp 1s ease-in-out;
}
